admin.css
body {
  font-family: "Playfair Display", sans-serif;
  font-size: 18px;
  background: #c4c4c4;
}

#artsDataContainer, #bookDataContainer, #otherDataContainer {
	display: flex;
	flex-wrap: wrap;
}

div.item {
	padding: 10px;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    border: 4px solid #966868;
    background: #cebbc7;
    border-radius: 8px;
}

button {
	color: #fff;
    background: rgb(203 47 47);
    padding: 8px 12px;
    margin: 4px 8px 0 0;
    border: 2px solid #ffffffd9;
    border-radius: 6px;
    font-size: 15px;
}

button.editButton {
	background: #074e9a;
}

/*div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}*/

/*div.item button.edit {
	right: 70px;
}*/

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}

//new

/*#artsDataContainer div.item {
  background: linear-gradient(0deg, rgba(240,148,148,1) 0%, rgba(254,207,106,1) 67%);
 	width: 100%;
	height: 30px;
	float: left;
	margin: 10px;
	padding: 10px;
	position: relative;
  overflow-y: hidden;  
  cursor: pointer;
}

#bookDataContainer div.item {
  background: rgb(221,160,221);
  background: radial-gradient(circle, rgba(254,207,106,1) 0%, rgba(203,47,47,1) 100%);
}

#otherDataContainer {
  display: none;
}

div.item button {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

div.item button.editButton {
	right: 70px;
}

span.item {
	line-height: 16px;
	font-size: 14px;
}

span.item b {
	margin-right: 10px;
}

span.undefined {
	color: red;
}*/