body{
	background-color: lavender;
	text-align: center;
}

div {
  margin: auto;
  border: 8px solid white;
  border-radius: 24px;
  background: lightpink;
  padding: 16px;
  max-width: 600px;
  color: #000;
}